install pandas

In [1]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

importing pandas

In [2]:
import pandas as pd

creating a pandas series from a list

In [4]:
s = pd.Series([10,20,30,40], name = "MyNumbers")
print(f"pandas series:\n{s}")
print(f"type of series: {type(s)}")

pandas series:
0    10
1    20
2    30
3    40
Name: MyNumbers, dtype: int64
type of series: <class 'pandas.core.series.Series'>

creating a pandas DataFrame from a dictionary

In [6]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25,30,35,28],
    'City': ['New York', 'London', 'Paris', 'New York'],
    'Salary': [70000, 85000, 95000, 72000]
}

df = pd.DataFrame(data)
print(f"data:\n{data}")
print(f"\npandas DataFrame:\n{df}")

data:
{'Name': ['Alice', 'Bob', 'Charlie', 'David'], 'Age': [25, 30, 35, 28], 'City': ['New York', 'London', 'Paris', 'New York'], 'Salary': [70000, 85000, 95000, 72000]}

pandas DataFrame:
      Name  Age      City  Salary
0    Alice   25  New York   70000
1      Bob   30    London   85000
2  Charlie   35     Paris   95000
3    David   28  New York   72000

In [9]:
df = pd.read_csv('https://raw.githubusercontent.com/MainakRepositor/Datasets/refs/heads/master/Cryptocurrency/binance-coin.csv')

df.head()

         Date   Open   High    Low  Close       Volume    Market Cap
0  2020-12-12  27.36  28.24  27.33  28.16  238973887.0  4.067131e+09
1  2020-12-11  27.70  27.74  26.77  27.36  278060132.0  3.951108e+09
2  2020-12-10  28.13  28.24  27.43  27.70  263890750.0  3.999512e+09
3  2020-12-09  27.64  28.38  27.00  28.13  323390504.0  4.062056e+09
4  2020-12-08  29.38  29.49  27.51  27.64  323672206.0  3.990864e+09